$cBlack: #000;
$cWhite: #fff;
$bBlack: #333;
$cGray1: #777;
$cGray2: #555;

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6,p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 84%;
  margin: 0 auto;
  text-align: center;
}

.menu-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 400px;
  height: 100vh;
  transform: translateX(-75%);
  transition: all 0.5s cubic-bezier(0.80, 0.0, 0.20, 1.0);
  font-size: 18px;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $cWhite;
    position: absolute;
    z-index: -10;
    transition: opacity 0.5s;
  }
  &:after {
    content: "";
    width: 99.5%;
    height: 100%;
    background: linear-gradient(to bottom right, $cGray2, $cWhite);
    position: absolute;
    z-index: -20;
    opacity: 0.9;
  }

  &.open {
    transform: translateX(0px);
    background-color: transparent;

    &:before {
      opacity: 0;
    }
  }

  & .menu {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;

    & .menu-border {

      & span {
        display: block;
        width: 20px;
        height: 3px;
        background-color: $cBlack;
        margin-top: 5px;
        transition: all 0.5s;

        &:nth-child(1) {
          transform: translateX(2px);
        }
        &:nth-child(3) {
          transform: translateX(-2px);
        }
      }
    }
    &.open .menu-border {
      & span:nth-child(1) {
        width: 25px;
        transform: translate(0px, 8px) rotate(135deg);
      }
      & span:nth-child(2) {
        opacity: 0;
      }
      & span:nth-child(3) {
        width: 25px;
        transform: translate(0px, -8px) rotate(-135deg);
      }
    }

    & p {
      font-size: 12px;
      margin-top: 8px;
      transform: translateX(-10px);
    }
  }

  .go-back-button {
    position: absolute;
    top: 4.4%;
    left: 10%;
    font-size: 14px;
    letter-spacing: 1px;

    & p {
      cursor: pointer;
    }
  }

  .menu-nav {
    position: absolute;
    top: 22%;
    left: 15.6%;

    & ul {
      & li {
        margin-bottom: 39%;
        cursor: pointer;
        transition: all 0.3s;

        &:nth-child(3) {
          margin-bottom: 15.6%;
        }

        &:nth-child(4) .portfolios li {
          font-size: 14px;
          margin: 30.6% 0 0 30px;
          border-bottom: 1px solid $cBlack;
        }
      }
    }
  }
}

.menu-content2 {
  position: absolute;
  bottom: 11.8%;
  left: 50%;
  transform: translateX(-50%);
  display: none;

  & ul {
    display: flex;

    & li:not(:last-child) {
      margin-right: 30px;
      cursor: pointer;
    }
  }
}

main > div {
  height: 100vh;

  & h2 {
    padding-top: 6.2%;
    font-size: 30px;
    margin-bottom: 10%;
  }
}

main .home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cWhite;
  color: $cBlack;

  & .title {
    & h1 {
      margin-top: 20px;
      letter-spacing: 8px;
      font-size: 45px;
    }
  }
}

main .profile {
  background-color: $bBlack;
  color: $cWhite;

  & .profile-contents {
    display: flex;

    & .profile-photo {
      width: 50%;
      height: auto;
      margin: 0 3.6%;
      background-image: url('../images/sanshiro_photo1.jpg');
      background-position: 0px -40px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    & .profile-text {
      width: 50%;
      text-align: left;
      margin: 2.4% 3.6% 0px 3.6%;
      line-height: 1.7rem;

      & p {
        margin-bottom: 3%;
      }
    }
  }
}

main .skills {
  background-color: $cWhite;
  color: $cBlack;

  & div {
    margin-bottom: 4%;
  }
  & h3 {
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  & ul {
    display: flex;
    justify-content: center;

    & li {
      margin-right: 5%;

      & img {
        width: 25px;
        height: 25px;
      }

      & p {
        display: inline;
        vertical-align: top;
      }
    }
  }
}

main .works {
  background-color: $bBlack;
  color: $cWhite;

  & h2 {
    margin-bottom: 12%;
  }
  & ul {
    display: flex;

    & .work {
      width: 50%;
      margin: 0 3.6%;

      & .work-image {
        background-size: cover;
        background-position: center;
        transition: all 0.3s;
        position: relative;
        height: 250px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          background-color: $cGray1;
          transition: all 0.3s;
          opacity: 0;
        }

        &:hover {
          transform: scale(1.05);

          &::before {
            opacity: 0.2;
          }
        }

        &.portfolio-site {
          background-image: url('../images/portfolio_image.png');
        }
        &.vue-app {
          background-image: url('../images/vueApp_image.png');
        }
      }

      & .work-text {
        margin-top: 8.5%;

        & p {
          margin-bottom: 5.7%;
          font-size: 15px;
        }
        & span {
          font-size: 13px;
        }
      }
      & .work-text2 {
        display: none;
      }
    }
  }
}

main .contact {
  background-color: $cWhite;
  color: $cBlack;
  position: relative;

  & h2 {
    margin-bottom: 18.3%;
  }

  & .contact-text p {
    font-size: 18px;
  }

  & .contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12%;

    a {
      text-decoration: none;

      & .twitter-icon {
        background-color: #00BFFF;
        color: $cWhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        opacity: 0.8;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.1);
          opacity: 1;
        }

        & i {
          transform: translate(3px, 1px);
          font-size: 20px;
        }
      }
    }

    & p {
      margin-top: 3.7%;
    }
  }

  & .copyright {
    font-size: 12px;
    color: $cGray1;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

//ipadPro縦用css
@media screen and (max-width: 1024px) {
  .menu-content {
    transform: translateX(-65%);

    & .menu {
      top: 50px;

      & .menu-border span {
        width: 30px;
        margin-top: 8px;
      }

      &.open .menu-border span {
        width: 35px;

        &:nth-child(1) {
          transform: translate(0, 11px) rotate(135deg);
        }
        &:nth-child(3) {
          transform: translate(0, -11px) rotate(-135deg);
        }
      }
    }
  }

  main > div:not(:nth-child(1)) {
    height: auto;
  }
  main > div .container {
    padding: 0 0 100px 0;
  }

  main .home .container .title h1 {
    font-size: 55px;
  }

  main .works .container .work .work-image {
    pointer-events: none;
  }

  main .contact .container {
    & .contact-list {
      margin-bottom: 150px;

      & .twitter-icon {
        pointer-events: none;
      }
    }
  }
}

//スマートフォン横/タブレット縦用CSS
@media screen and (max-width: 896px) {
  .menu-content {
    width: 320px;

    & .menu {
      top: 30px;
    }
  }

  main > div .container {
    padding: 0 0 50px 0;
  }

  main .profile .container .profile-photo {
    height: 350px;
  }

  main .contact .container {

    & .contact-text p {
      font-size: 20px;
    }
  }

}

//スマートフォン縦用CSS
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .menu-content {
    display: none;
  }

  .menu-content2 {
    display: block;

    & ul li:not(:last-child) {
      margin-right: 20px;
    }
  }

  main > div:not(:nth-child(1)) {
    height: auto;
  }

  main .home .container .title h1{
    font-size: 35px;
  }

  main > div .container {
    padding: 0 0 40px 0;

    & h2 {
      margin-bottom: 22%;
      font-size: 25px;
    }
  }

  main .profile .container {

    & .profile-contents {
      display: block;
      text-align: center;

      & .profile-photo {
        width: 90%;
        height: 150px;
        margin: 0px auto 20px;
      }
      & .profile-text {
        line-height: 1.7;
        width: 100%;
        margin: 0;

        & p {
          margin-bottom: 0;
        }
      }
    }
  }

  main .skills .container {

    & > div {
      margin-bottom: 13%;
    }

    & .languages ul {
      flex-wrap: wrap;

      & li{
       margin-bottom: 10px;
      }
    }
  }

  main .works .container {
    & ul {
      flex-direction: column;
      align-items: center;

      & .work {
        margin: 0 20px;
        width: 100%;

        &:nth-child(1) {
          margin: 0 20px 20px 20px;
        }
        & .work-image {
          height: 150px;
        }

        & .work-text {
          display: none;
        }

        & .work-text2 {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }

  main .contact .container {

    & .contact-text p {
      font-size: 14px;
    }

    & .contact-list {
      margin-bottom: 150px;
    }

    & .copyright {
      position: static;
      transform: none;
    }
  }
}
