*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 84%;
  margin: 0 auto;
  text-align: center;
}

.menu-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 400px;
  height: 100vh;
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.8, 0, 0.2, 1);
  font-size: 18px;
}

.menu-content:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  z-index: -10;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.menu-content:after {
  content: "";
  width: 99.5%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#555), to(#fff));
  background: linear-gradient(to bottom right, #555, #fff);
  position: absolute;
  z-index: -20;
  opacity: 0.9;
}

.menu-content.open {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  background-color: transparent;
}

.menu-content.open:before {
  opacity: 0;
}

.menu-content .menu {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
}

.menu-content .menu .menu-border span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #000;
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-content .menu .menu-border span:nth-child(1) {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.menu-content .menu .menu-border span:nth-child(3) {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}

.menu-content .menu.open .menu-border span:nth-child(1) {
  width: 25px;
  -webkit-transform: translate(0px, 8px) rotate(135deg);
          transform: translate(0px, 8px) rotate(135deg);
}

.menu-content .menu.open .menu-border span:nth-child(2) {
  opacity: 0;
}

.menu-content .menu.open .menu-border span:nth-child(3) {
  width: 25px;
  -webkit-transform: translate(0px, -8px) rotate(-135deg);
          transform: translate(0px, -8px) rotate(-135deg);
}

.menu-content .menu p {
  font-size: 12px;
  margin-top: 8px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.menu-content .go-back-button {
  position: absolute;
  top: 4.4%;
  left: 10%;
  font-size: 14px;
  letter-spacing: 1px;
}

.menu-content .go-back-button p {
  cursor: pointer;
}

.menu-content .menu-nav {
  position: absolute;
  top: 22%;
  left: 15.6%;
}

.menu-content .menu-nav ul li {
  margin-bottom: 39%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-content .menu-nav ul li:nth-child(3) {
  margin-bottom: 15.6%;
}

.menu-content .menu-nav ul li:nth-child(4) .portfolios li {
  font-size: 14px;
  margin: 30.6% 0 0 30px;
  border-bottom: 1px solid #000;
}

.menu-content2 {
  position: absolute;
  bottom: 11.8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

.menu-content2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-content2 ul li:not(:last-child) {
  margin-right: 30px;
  cursor: pointer;
}

main > div {
  height: 100vh;
}

main > div h2 {
  padding-top: 6.2%;
  font-size: 30px;
  margin-bottom: 10%;
}

main .home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #000;
}

main .home .title h1 {
  margin-top: 20px;
  letter-spacing: 8px;
  font-size: 45px;
}

main .profile {
  background-color: #333;
  color: #fff;
}

main .profile .profile-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .profile .profile-contents .profile-photo {
  width: 50%;
  height: auto;
  margin: 0 3.6%;
  background-image: url("../images/sanshiro_photo1.jpg");
  background-position: 0px -40px;
  background-size: cover;
  background-repeat: no-repeat;
}

main .profile .profile-contents .profile-text {
  width: 50%;
  text-align: left;
  margin: 2.4% 3.6% 0px 3.6%;
  line-height: 1.7rem;
}

main .profile .profile-contents .profile-text p {
  margin-bottom: 3%;
}

main .skills {
  background-color: #fff;
  color: #000;
}

main .skills div {
  margin-bottom: 4%;
}

main .skills h3 {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

main .skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .skills ul li {
  margin-right: 5%;
}

main .skills ul li img {
  width: 25px;
  height: 25px;
}

main .skills ul li p {
  display: inline;
  vertical-align: top;
}

main .works {
  background-color: #333;
  color: #fff;
}

main .works h2 {
  margin-bottom: 12%;
}

main .works ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .works ul .work {
  width: 50%;
  margin: 0 3.6%;
}

main .works ul .work .work-image {
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  height: 250px;
}

main .works ul .work .work-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #777;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

main .works ul .work .work-image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .works ul .work .work-image:hover::before {
  opacity: 0.2;
}

main .works ul .work .work-image.portfolio-site {
  background-image: url("../images/portfolio_image.png");
}

main .works ul .work .work-image.vue-app {
  background-image: url("../images/vueApp_image.png");
}

main .works ul .work .work-text {
  margin-top: 8.5%;
}

main .works ul .work .work-text p {
  margin-bottom: 5.7%;
  font-size: 15px;
}

main .works ul .work .work-text span {
  font-size: 13px;
}

main .works ul .work .work-text2 {
  display: none;
}

main .contact {
  background-color: #fff;
  color: #000;
  position: relative;
}

main .contact h2 {
  margin-bottom: 18.3%;
}

main .contact .contact-text p {
  font-size: 18px;
}

main .contact .contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12%;
}

main .contact .contact-list a {
  text-decoration: none;
}

main .contact .contact-list a .twitter-icon {
  background-color: #00BFFF;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .contact .contact-list a .twitter-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

main .contact .contact-list a .twitter-icon i {
  -webkit-transform: translate(3px, 1px);
          transform: translate(3px, 1px);
  font-size: 20px;
}

main .contact .contact-list p {
  margin-top: 3.7%;
}

main .contact .copyright {
  font-size: 12px;
  color: #777;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 896px) {
  main > div:not(:nth-child(1)) {
    height: auto;
  }
  main > div .container {
    padding: 0 0 40px 0;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .menu-content {
    display: none;
  }
  .menu-content2 {
    display: block;
  }
  .menu-content2 ul li {
    margin-right: 5px;
  }
  main > div:not(:nth-child(1)) {
    height: auto;
  }
  main .home .container .title h1 {
    font-size: 35px;
  }
  main > div .container {
    padding: 0 0 20px 0;
  }
  main > div .container h2 {
    margin-bottom: 22%;
    font-size: 25px;
  }
  main .profile .container .profile-contents {
    display: block;
    text-align: center;
  }
  main .profile .container .profile-contents .profile-photo {
    width: 90%;
    height: 150px;
    margin: 0px auto 20px;
  }
  main .profile .container .profile-contents .profile-text {
    line-height: 1.7;
    width: 100%;
    margin: 0;
  }
  main .profile .container .profile-contents .profile-text p {
    margin-bottom: 0;
  }
  main .skills .container > div {
    margin-bottom: 13%;
  }
  main .skills .container .languages ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .skills .container .languages ul li {
    margin-bottom: 10px;
  }
  main .works .container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .works .container ul .work {
    margin: 0 20px;
    width: 100%;
  }
  main .works .container ul .work:nth-child(1) {
    margin: 0 20px 20px 20px;
  }
  main .works .container ul .work .work-image {
    height: 150px;
  }
  main .works .container ul .work .work-text {
    display: none;
  }
  main .works .container ul .work .work-text2 {
    display: block;
    margin-top: 10px;
  }
  main .contact .container .contact-text p {
    font-size: 14px;
  }
  main .contact .container .contact-list {
    margin-bottom: 150px;
  }
  main .contact .container .copyright {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=style.css.map */